@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100; /* Thin */
    src: url('/fonts/NotoSansKR-Thin.ttf') format('truetype'); /* .ttf 파일 형식 */
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300; /* Light */
    src: url('/fonts/NotoSansKR-Light.ttf') format('truetype'); /* .ttf 파일 형식 */
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400; /* Regular */
    src: url('/fonts/NotoSansKR-Regular.ttf') format('truetype'); /* .ttf 파일 형식 */
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 600; /* SemiBold */
    src: url('/fonts/NotoSansKR-SemiBold.ttf') format('truetype'); /* .ttf 파일 형식 */
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700; /* Bold */
    src: url('/fonts/NotoSansKR-Bold.ttf') format('truetype'); /* .ttf 파일 형식 */
}

@font-face {
    font-family: 'BitBit';
    font-style: normal;
    font-weight: 700; /* Bold */
    src: url('/fonts/DNFBitBitTTF.ttf') format('truetype'); /* .ttf 파일 형식 */
}

body{
	font-family: 'Noto Sans KR';
    overflow-x: hidden;

}

Header {
    font-family: 'BitBit';
}